<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>القاعة التاريخية</title>
</head>
<body>
    <%- include("../../common/views/navbar.view.ejs") %>

    <div class="container">
        <section class="w-75 d-flex flex-column gap-3 align-items-center justify-content-center mx-auto" style="height: calc(100vh - 95px);">
            <h2>القاعة التاريخية</h2>
            <video src="/images/video.mp4" autoplay muted loop class="w-100 rounded"></video>
        </section>

    </div>
</body>
</html>